<div class="dashboard">
	<h4>My Dashboard</h4>
	

	<h5> <%= link_to "Create my wedding page", new_wedding_path(@wedding) %> </h5>


<!-- TEST LINK TO PARTIAL IN DIFF CONTROLLER <%= render :partial => 'pins/test', :pin => @pin %> -->


</div>