<% if user_signed_in? %>
	


<% else %>
	
<div class="landingpagewrapper">
	<div class="landingpage">
		
		<%= image_tag("logo.png") %>
		
		<div class="invitebox">
			<br> <br> <br> <h4> INDIAN WEDDING <BR> PLANNING JUST GOT EASIER </h4>	
			
			<%= image_tag("smalldivider.png") %>

			<h3> REQUEST AN INVITE </h3>	

			<%= render 'inviterequests/form' %>
		</div>
	</div>
</div>
	<!-- <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-primary btn-large" %> -->

<% end %>