<% if user_signed_in? %>
	


<% else %>

	<div class="landingsection1">


			<%= render 'inviterequests/form' %>
	
	</div>

	<div class="landingsection2">
		<div class="container">
		</div>
	</div>


	<div class="landingsection3">
		<div class="container">
		</div>
	</div>


	<div class="landingsection4">
		<div class="container">
		</div>
	</div>

	<div class="landingsection5">
		<div class="container">
		</div>
	</div>


	<div class="landingsection6">
		<div class="container">
		</div>
	</div>


	<div class="landingsection7">
		<div class="container">
		</div>
	</div>

	

	<!-- <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-primary btn-large" %> -->

<% end %>