<% if user_signed_in? %>
	<h1> Welcome </h1>
<% else %>


	<div class="landingpage">
		<h1>WHAT HAPPENS AT WORK</h1>

		<h2>IS ALL RIGHT HERE. </h2>

		<div class="invitebox">
			<p class="white">We are on a mission to bring transparency to what people really do in their jobs. <br><br> Join the revolution. </p>

			<%= render 'inviterequests/form' %>
		</div>
	</div>

	<!-- <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-primary btn-large" %> -->

<% end %>