@import 'bootstrap';
@import 'bootstrap-responsive';

/******** LAYOUTS & SCAFFOLDING *******/ 

* {
    margin: 0px;
    padding: 0px;
    text-overflow: ellipsis;
}

body {
	padding: 60px 50px 50px 50px;
	font-family: 'Gotham SSm A','Gotham SSm B',sans-serif;
	overflow: hidden;
	background: url(../images/office.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer {
	padding-top: 7px;
	color: white;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 2;
	width: 100%;
	height: 30px;
	background-color: rgba(255,255,255,0.4);
	a { 
		font-weight: 600;
	}
}

.navbar-inner {
  min-height: 40px;
  padding-left: 100px;
  padding-right: 40px;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: none;
  border: none;
  
}

/* THIS SELECTS THE ENTIRE CONTAINER OF CONTENT (INCL NAVBAR), WHICH HAS EQUAL MARGIN ON BOTH SIDES */
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1000px;
}

.landingpage { /* div for all landing page content */
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
}

/******** DIVS *********/

.invitebox { /* transparent white box for invite form */
	width: 360px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 30px 30px 10px 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.thankyoubox { /* transparent white box for thank you msg */
	width: 360px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 165px;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 30px 30px 10px 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.inviteform { /* div for invite form */
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

.socialbuttons {
	width: 160px;
	height: 60px;

	margin-left:auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 20px;
}

.facebook, .twitter {
	width: 60px;
	height: 60px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	float: left;
	cursor: pointer;
	opacity: .8;
}





/******** ELEMENT STYLES ******/
a:hover {
	background: none;
}

#logo {
	color: white;
	background-color: none;
	letter-spacing: 3px;
	font-family: 'Gill Sans MT','Gotham B',sans-serif;
	text-shadow: none;
}

h1 {
	text-align: center;
	color: white;
	font-size: 40pt;
	font-family: 'Gotham A','Gotham B',sans-serif;
	letter-spacing: 4pt;

}

h2 {
	text-align: center;
	color: white;
	font-size: 25pt;
	font-family: 'Gotham A','Gotham B',sans-serif;
	line-height: 50px;
	letter-spacing: 2pt;
	font-weight: 100;
}

p.white {
	font-family: 'Chronicle SSm A','Chronicle SSm B',Georgia,serif;
	font-size: 16px;
	text-align: center;
	color: white;
	line-height: 120%;
	font-style: italic;
}

p.smallcaps {
	font-family: 'Open Sans',sans-serif;
	font-size: 13px;
	text-align: center;
	color: white;
	font-weight: 500;
}


.field { 
	padding: 10px 0px 0px 0px;
	margin: 0px;

}

.actions {
	width: 160px;
	margin-left: auto;
	margin-right: auto;
}

small {
	font-family: 'Open Sans',sans-serif;
	font-size: 9pt;
	vertical-align: middle;
	line-height: 1;

}

/******** SIMPLE FORM ********/

.simple_form {
	input { 	/* all form fields */
		font: 12px/18px 'Open Sans',sans-serif;
		color: #b8b7ab;
		padding: 4px 6px 2px 6px;
		width: 300px;
		white-space: nowrap;
		text-overflow: ellipsis;
		-moz-user-select: none;
		margin-left:-187px;
	}


	.actions input { /* div containing invite button */
		margin-left: auto;
		margin-right: auto;
		width: 160px;
		height: 30px;
	}
}

INPUT.btn.btn-primary { /* style of yellow invite button */
	background-image: none;
	background-color: #dec625;
	border-color: #dec625;
	color: white;
	font-family: 'Open Sans','Gill Sans MT','Gotham B',sans-serif;
	font-size: 10pt;
	font-weight: 600;
}




/******** HOVER EFFECTS ********/ 


INPUT.btn.btn-primary:hover { /* Hover color for yellow button */
	background-image: none;
	background-color: #ead126;
	border-color: #ead126;
}


.facebook:hover, .twitter:hover {
	opacity: 1;
}


